#mainBox{
    margin: 0 auto;
    background:lightblue;
    width:1000px;
    height:1000px;
    
}

#instructions{
    text-align:center;    
}

#ins{
    margin:0;
    padding:0 20%;
    
}

#gameBox{    
    
    height:45%;
    width:50%;
    margin: 5% auto;
    
    
}

#game{
    
    background:white;
    width:100%;
    height:70%;
    float:left;
    border:black;
    border-style:solid;
    border-width:2px;
    
}

#toolBar{
    width:100%;
    height:100%;
    
    
}

#but{
    width:35%;
    height:25%;    
    margin:2% 0 0 2%;
    
     
}